# Imports

In [204]:
import pandas as pd     # data processing
import numpy as np      # lin algebra
import datetime as dt   # datetime manipulation
import pytz             # timezone manipulation

# Loading the Data

In [205]:
FILE_PATH = r"C:\Users\btros\OneDrive\Documents\LSDS-Unit-2-Project\raw_csvs\detroit_hist_weather.csv"

weather   = pd.read_csv(FILE_PATH)

### Quick Inspection

In [206]:
weather.head(1)

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1472688000,2016-09-01 00:00:00 +0000 UTC,4990729,NaN,NaN,NaN,295.28,293.71,296.48,1017,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n

In [207]:
weather.tail(1)

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
35140,1573776000,2019-11-15 00:00:00 +0000 UTC,4990729,NaN,NaN,NaN,272.74,271.48,274.15,1024,...,NaN,NaN,NaN,NaN,NaN,90,721,Haze,haze,50n

# TODO:
- match DF format with the 911 calls 
    - extract date time features
- flag severe weather incidents

In [208]:
weather = weather[['dt_iso', 'temp_min', 'temp_max', 'weather_id']]  # Retaining only the needed columns

In [209]:
def datetime_manip(df):
    col = 'dt_iso'
    eastern = pytz.timezone('US/Eastern')
    
    x   = df[col].split(" ")[:2]                             # Convert the time data to EST timezone so that it syncs with the 911_calls data
    x   = x[0] + "T" + x[1]
    x   = pd.to_datetime(x)
    x   = x.tz_localize(pytz.utc).tz_convert(eastern)
    x   = str(x).replace("-04:00", "").replace(" ", "T")
    x   = pd.to_datetime(x)
    
    df['year']  = x.year
    df['month'] = x.month
    df['day']   = x.day
    df['hour']  = x.hour
    
    return df

In [210]:
def get_day_part(df):
    """
    Extacts the time of day from the hour value by dividing by the hour knife
    1 = Morning  (0400 - 1000h)
    2 = Midday   (1000 - 1600h)
    3 = Evening  (1600 - 2200h)
    4 = Night    (2200 - 0400h)
    """    
    
    hour_knife = 6
    df['part_of_day'] = ((df['hour'] + 2) / hour_knife).astype(int)
    df['part_of_day'] = df['part_of_day'].replace(0, 4)
    
    # Drop the now redundant column
    df = df.drop(columns='dt_iso')
    
    return df

In [211]:
def to_fahrenheit(df):
    cols = ['temp_min', 'temp_max']      #   convert to local temp unit for user interperability 
    
    for col in cols:
        K = df[col]
        F = (K - 273.15) * 9/5 + 32
        df[col] = F
        
    return df

In [212]:
def flag_severe(df):
    extreme = [202, 212, 221, 502, 503, 504, 511,
               602, 622]
    
    col = 'weather_id'
    
    df['severe'] = np.where(df[col].isin(extreme), 1, 0)
    
    return df

In [213]:
weather = weather.apply(datetime_manip, axis=1)

In [214]:
weather = get_day_part(weather)

In [215]:
weather = to_fahrenheit(weather)

In [216]:
weather = flag_severe(weather)

In [217]:
weather.head()

   temp_min  temp_max  weather_id  year  month  day  hour  part_of_day  severe
0    69.008    73.994         800  2016      8   31    20            3       0
1    64.400    73.004         800  2016      8   31    21            3       0
2    64.400    71.996         800  2016      8   31    22            4       0
3    60.800    71.006         800  2016      8   31    23            4       0
4    55.004    69.998         800  2016      9    1     0            4       0

# Reformat the DataFrame For Readability

In [218]:
weather = weather[['year', 'month', 'day', 'hour', 'part_of_day', 'weather_id', 'severe', 'temp_min', 'temp_max' ]]

In [219]:
weather

,year,month,day,hour,part_of_day,weather_id,severe,temp_min,temp_max
0,2016,8,31,20,3,800,0,69.008,73.994
1,2016,8,31,21,3,800,0,64.400,73.004
2,2016,8,31,22,4,800,0,64.400,71.996
3,2016,8,31,23,4,800,0,60.800,71.006
4,2016,9,1,0,4,800,0,55.004,69.998
...,...,...,...,...,...,...,...,...,...
35136,2019,11,14,16,3,500,0,28.994,33.998
35137,2019,11,14,17,3,500,0,28.400,33.998
35138,2019,11,14,17,3,721,0,28.400,33.998
35139,2019,11,14,18,3,721,0,28.994,33.998
35140,2019,11,14,19,3,721,0,28.994,33.800

In [235]:
groupby_cols = ['year', 'month', 'day', 'part_of_day']
mean_cols    = ['weather_id', 'severe', 'temp_min', 'temp_max']
weather = weather.groupby(groupby_cols)['weather_id', 'severe', 'temp_min', 'temp_max'].mean()

In [243]:
weather = test.reset_index()

In [245]:
weather.head(60)

    year  month  day  part_of_day  weather_id    severe   temp_min   temp_max
0   2016      8   31            3  800.000000  0.000000  66.704000  73.499000
1   2016      8   31            4  800.000000  0.000000  62.600000  71.501000
2   2016      9    1            1  801.666667  0.000000  59.300000  66.092000
3   2016      9    1            2  651.166667  0.000000  67.444747  72.874747
4   2016      9    1            3  606.833333  0.000000  66.117594  71.118594
5   2016      9    1            4  751.166667  0.000000  56.669000  67.199000
6   2016      9    2            1  800.000000  0.000000  56.300000  62.765000
7   2016      9    2            2  801.333333  0.000000  67.301000  76.100000
8   2016      9    2            3  800.333333  0.000000  67.067000  73.190000
9   2016      9    2            4  800.500000  0.000000  57.200000  64.034000
10  2016      9    3            1  783.500000  0.000000  52.340000  61.268000
11  2016      9    3            2  787.166667  0.000000  68.900000  77.003000
12  2016      9    3            3  800.000000  0.000000  69.002000  76.211000
13  2016      9    3            4  800.000000  0.000000  55.139000  62.900000
14  2016      9    4            1  720.857143  0.000000  50.228857  63.314857
15  2016      9    4            2  800.333333  0.000000  71.132000  81.332000
16  2016      9    4            3  800.500000  0.000000  71.504000  79.631000
17  2016      9    4            4  777.428571  0.000000  54.906286  65.541714
18  2016      9    5            1  747.333333  0.000000  53.088000  65.844000
19  2016      9    5            2  800.333333  0.000000  75.500000  84.698000
20  2016      9    5            3  800.333333  0.000000  76.601000  84.632000
21  2016      9    5            4  783.500000  0.000000  60.260000  69.434000
22  2016      9    6            1  732.142857  0.000000  66.405714  74.397714
23  2016      9    6            2  800.833333  0.000000  81.767000  88.334000
24  2016      9    6            3  800.833333  0.000000  82.967000  90.266000
25  2016      9    6            4  800.000000  0.000000  69.440000  77.768000
26  2016      9    7            1  715.428571  0.142857  72.142571  79.000571
27  2016      9    7            2  708.000000  0.000000  82.001000  90.101000
28  2016      9    7            3  497.900000  0.200000  74.991200  88.098800
29  2016      9    7            4  800.000000  0.000000  74.510000  81.932000
30  2016      9    8            1  600.666667  0.111111  73.560000  79.888000
31  2016      9    8            2  581.000000  0.111111  77.024000  83.356000
32  2016      9    8            3  557.500000  0.166667  76.067000  81.365000
33  2016      9    8            4  753.500000  0.000000  74.426000  80.501000
34  2016      9    9            1  704.000000  0.000000  65.120000  71.998769
35  2016      9    9            2  752.714286  0.000000  72.772571  81.883143
36  2016      9    9            3  800.333333  0.000000  74.867000  81.800000
37  2016      9    9            4  710.625000  0.000000  68.283500  75.274250
38  2016      9   10            1  509.000000  0.200000  67.280000  73.839200
39  2016      9   10            2  688.714286  0.000000  70.314286  78.000286
40  2016      9   10            3  478.285714  0.285714  66.457143  75.400571
41  2016      9   10            4  588.000000  0.000000  66.704000  73.197500
42  2016      9   11            1  800.000000  0.000000  53.801000  61.934000
43  2016      9   11            2  801.000000  0.000000  64.700000  72.932000
44  2016      9   11            3  800.000000  0.000000  63.398000  72.599000
45  2016      9   11            4  800.333333  0.000000  55.700000  64.700000
46  2016      9   12            1  760.500000  0.000000  48.299000  59.546750
47  2016      9   12            2  800.666667  0.000000  68.900000  77.033000
48  2016      9   12            3  800.000000  0.000000  68.894000  76.100000
49  2016      9   12            4  750.500000  0.000000  51.752000  61.733000
50  2016      9   13            1  712.700000  0.000000  50.756000  63.982400
51  2016      9   13            2  800.500000  0.000000  71.000000  79.868000
52  2016      9   13            3  800.333333  0.000000  75.938000  83.000000
53  2016      9   13            4  764.666667  0.000000  58.448000  67.433000
54  2016      9   14            1  500.166667  0.000000  61.100000  69.368000
55  2016      9   14            2  752.000000  0.000000  64.400000  74.111000
56  2016      9   14            3  801.500000  0.000000  65.201000  74.165000
57  2016      9   14            4  611.444444  0.000000  64.266000  72.266000
58  2016      9   15            1  783.500000  0.000000  48.965000  59.768000
59  2016      9   15            2  800.833333  0.000000  66.068000  74.831000

# Export the Wrangled DataFrame

In [246]:
weather.to_csv("detroit_weather_wrangled.csv")